{% extends 'base.html' %}

{% block content %}

<section class="product-detail">
    <h3 class="title">{{ product.name }}</h3>
    <h4 class="price">{{ product.price_in_dollars }}</h4>
    <p class="desc">{{ product.description }}</p>
    <a href="{% url 'edit_product' id=product.id %}" class="btn">Edit Product</a>
    <a href="{% url 'delete_product' id=product.id %}" class="btn">Delete Product</a>
</section>

<form method="POST" action="{% url 'review_product' id=product.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit review</button>
</form>

    <ul>
    {% for review in product.reviews.all %}
    <li>{{ review.message }}</li>
    {% endfor %}
    </ul> 

{% endblock %}